.vote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vote-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 10px #551a8b;
  border-radius: 15px;
}