.justify-content-end {
  margin-bottom: .5rem;
}

.nav-link {
  font-size: 26px;
  color: #fff;
}

.nav-link:hover {
  color: var(--randomCard);
  transform: scale(1.1);
  text-decoration: var(--randomCard);
}

a:hover {
  transition: all .2s ease-in-out;
} 