

:root {
  --appBackground: #222629;
  --secondaryColor: #d8d8d8;
  --thirdColor: #61892F;
  --randomCard: #86C232;
  --playerCards: white;
  --purpleDragon: #551A8B;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.body-all {
  background-color: var(--secondaryColor);
  height: 100vh;
}
