:root {
  --appBackground: #222629;
  --secondaryColor: #d8d8d8;
  --thirdColor: #61892F;
  --randomCard: #86C232;
  --playerCards: white;
  --purpleDragon: #551A8B;
}

.main-content {
  background: linear-gradient( var(--secondaryColor), var(--appBackground));
  min-height: 100vh;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  z-index: 1 !important;
}

.particles {
  position: absolute !important;
  z-index: 0 !important;
  width: 100%;
  height: 100%;
}