.container {
  margin-top: 56px;
}

h3 {
  text-align: center;
}

form {
  border: .25rem black solid;
  margin: 20px;
  padding: 16px;
  border-radius: 8px;
}

.btn {
  background-color: #333 !important;
  color: #fff !important;
  margin-left: 52px;
}

.btn:hover {
  color: var(--randomCard) !important;
  transform: scale(1.1) !important;
}