.container {
  margin-top: 56px;
}

<<<<<<< HEAD
=======
h3 {
  text-align: center;
}

>>>>>>> main
form {
  border: .25rem black solid;
  margin: 20px;
  padding: 16px;
  border-radius: 8px;
}

.btn {
  background-color: #333 !important;
  color: #fff !important;
  margin-left: 52px;
}

.btn:hover {
<<<<<<< HEAD
  transform: translateY(4px);
  color: var(--randomCard) !important;
=======
  color: var(--randomCard) !important;
  transform: scale(1.1) !important;
>>>>>>> main
}