form {
  border: .25rem black solid;
  margin: 20px;
  padding: 16px;
  border-radius: 8px;
}

.btn {
  background-color: #333 !important;
  color: #fff !important;
}

.btn:hover {
  color: red !important;
}