  
.timer-container{
    margin: 24px;
    border-radius:8px;
    border: 4px solid #551A8B;
    width: 98px;
    height:138.32px;
    background-color:ghostwhite;

}

#timerImg {
    max-width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
}