.lobby-start {
    grid-area: lob-h;
    text-align: center;
} 

.chat {
    grid-area: chat-h;
}

.ch-ct {
    color: var(--playerCards);
    border: 2px solid var(--randomCard);
    border-radius: 5px;
    padding: 10px;
    margin:10px 0;
}
.ch-ct:hover {
    background-color: var(--secondaryColor);
    color: var(--randomCard);
}

.lob-h, .chat-h {
   font-size: 36px;    
}

.chat-h {
    text-align: center;
}

.startBtn {
    grid-area: start-btn;
    margin-top: 8px;
    margin-bottom: 18px;
    margin: auto;
}

.players {
    grid-area: players;
}

.chat-cont {
    grid-area: chat-cont;
    list-style-type: none;
    padding-left: 0;
}

.text {
    float: right;
}

.lobby-page {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 30% 1fr 30% 1fr;
    grid-template-rows: 25% 25% auto;
    grid-template-areas: 
    ". lob-h . chat-h"
    "start-btn start-btn . . "
    "players players chat-cont chat-cont";
}



