.addedCardsText {
    color: var(--purpleDragon);
  }
  
.lobby-start {
    z-index: 2;
}

.lobby-start {
    grid-area: lob-h;
    text-align: center;
} 

.chat {
    grid-area: chat-h;
}

.ch-ct {
    color: var(--playerCards);
    border: 2px solid var(--randomCard);
    border-radius: 5px;
    padding: 10px;
    margin:10px 0;
}
.ch-ct:hover {
    background-color: var(--purpleDragon);
    color: var(--randomCard);
}

.lob-h, .chat-h {
   font-size: 36px;    
}

.chat-h {
    text-align: center;
}

.startBtn {
    grid-area: start-btn;
    margin-top: 8px;
    margin-bottom: 18px;
    margin: auto;
}


.startBtn:hover {
    border: 3px solid var(--purpleDragon);
}

.playersHeader {
    font-size: 32px;
    color: var(--appBackground);
    margin-top: 20px;
}

.players {
    grid-area: players;
    list-style-type: none;
    text-align: center;
    margin-right: 28px;
    font-size: 24px;
    color: var(--purpleDragon);
}

.chat-cont {
    grid-area: chat-cont;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

#create-cards {
    margin: 8px;
    border-radius: 5px;
}

.input-btn {
    flex-direction: column;
    margin-top: -8px;
    z-index: 12;
}

.input-group {
    text-align: center;
}

.card-input {
    margin-top: 2px;
}

.text {
    float: right;
}

.lobby-page {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 30% 1fr 30% 1fr;
    grid-template-rows: 25% 25% auto;
    grid-template-areas: 
    ". lob-h . chat-h"
    "start-btn start-btn . . "
    "players players chat-cont chat-cont";
}

.scroll {
    padding:4px;
    background-color: var(--playerCards);
    width: 500px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.pack-check {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.checks-label {
    margin-left: 8px;
}

@media only screen and (max-width: 820px) {
    .lobby-start {
        grid-area: lobby;
    }

    .chat {
        grid-area: chat;
    }

    .chat-cont {
        text-align: center;
    }

    .lobby-page {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". lobby ."
        ". chat ."
    }
}

