.endContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
}

.scoreHeader {
  color: var(--purpleDragon);
  font-weight: 600;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.list-group {
  display: flex;
  justify-content: center;
  width: 50%;
  border: black 2px solid;
  border-radius: 8px;
}

.list-group-item {
  background-color: #333 !important;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--randomCard);
  font-size: 24px;
}

@media only screen and (max-width: 526px) {
  .scoreHeader {
    font-size: 24px;
  }

  .list-group-item {
    font-size: 16px;
  }
}