.white-card-el {
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform-origin: center; */
    left: -5%;
    top: 75%;
    /* width: 1024px;
    height: 500px; */
}

.white-card-el:hover {

}

.white-card-body {
  padding: 12px;
  background-color: white;
  width: 175px;
  height: 247px;
  color: #551a8b;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(14, 14, 14);
  /* transform: translate(-75%, 200%) */
}

.card-element {
  position: absolute;
  top: 50%;
  left: 50%;
}

.offset-rotate {
    margin-top: 20px;
    margin-bottom: 50px
}