.card-element:hover {
    z-index: 1;
}

.white-card-body {
  padding: 12px;
  background-color: white;
  width: 175px;
  height: 247px;
  color: #551a8b;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(14, 14, 14);
}

.card-element {
  position: absolute;
  top: 50%;
  left: 50%;
}

.offset-rotate {
  position: relative;
  transform: rotate(-20deg) translateX(-50%);
  width: 100%;
  left: 32%;
}