#footer  {
    color:white;
    background-color:black;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    height: 2.5rem;
    text-align: center;
  }

  #footer a {
    color:white; 
    transition: all .2s ease-in-out;
  }

  #footer a:hover {
      color: var(--randomCard);
      transform: scale(1.1);
  }