 #footer  {
    color:white;
    background-color:var(--appBackground);
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    height: 48px;
    text-align: center;
    /* margin-top: 50px; */
    font-size: 25px;
  }

  #footer a {
    color:white; 
    transition: all .2s ease-in-out;
  }

  #footer a:hover {
      color: var(--randomCard);
      transform: scale(1.1);
  }