 #footer  {
    color:white;
    font-size: 24px;
    background-color:black;
    padding: 25px 0;
    text-align: center;
    margin-top: 50px;
  }

  #footer a {
    color:white; 
    transition: all .2s ease-in-out;
  }

  #footer a:hover {
      color: var(--randomCard);
      transform: scale(1.1);
  }