.banner {
  display: flex;
  height: 120px;
  background-color: #333;
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #fff;
}

.nav-group {
  display: flex;
}

.nav-links {
  font-size: 26px;
  color: #fff;
  margin: 10px;
  margin-bottom: .5rem;
}

.nav-links:hover {
  color: #fff;
  text-decoration: #007bff;
}